<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (closed)="close(alert)"
    >{{ alert.message }}</ngb-alert
  >
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>
